.header{
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 10px 0;
    background-color: black;
}
.h_h1{
    color: white;
    text-transform: uppercase;
    text-align: center;
}
.box{
    height: 100px;
}























































































































